@import url('https://fonts.googleapis.com/css?family=Poiret+One');
.Typist__Header--greeting{
    margin-bottom: 100px;
    text-align: center;
    font-size: 72px;
    font-family: 'Poiret One', cursive;
    margin-top: 30px;
    color: #000000;
}
.Typist__Header--greeting span{
    text-align: center;
    font-size: 72px;
    padding: 10px;
    font-family: 'Poiret One', cursive;
    margin-top: 30px;
    color: #fff;
    background: #000000;
}

@media screen  and (max-width: 1024px) {
    .Typist__Header--greeting{
        margin-bottom: 15%;
        padding: 0px 15px;
        line-height: 1.6;
        font-size: 52px;
        margin-top: 5%;
    }
    
  }