.section__name{
    text-align: left;
    font-size: 42px;
    font-family: 'Poiret One', cursive;
    margin-top: 30px;
    color: #000000;
    
}
.section__name--painted{
    margin-left: 10px;
    text-align: center;
    padding: 10px;
    color: #fff;
    background: #000000;
}
hr{
    width: 250px;
    height: 2px;
    background: #222;
    border: none;
    margin: 0;
    margin-bottom: 25px;
}

@media screen  and (max-width: 1024px) {
    .section__name{
        font-size: 38px;
        margin-top: 5%;
        padding: 0px 15px;
    }
    
    hr{
        margin: 0px 15px;
        margin-bottom: 4%;
     
    }
  }