.container{
  width: 1024px;
  margin: 0 auto;
  text-align: center;
}

@media screen  and (max-width: 1024px) /* Tablet */ {
  .container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}